.custom-radio-button-container {
  display: flex;
}

.custom-radio-button-value {
  margin-left: 10px;
}

.custom-radio-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
}

.custom-radio-button.checked .radio-dot {
  background-color: red;
}

.custom-radio-button-title {
  display: flex;
  justify-content: center; 
  align-items: center;
}