.station-container {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px 10px 20px;
  height: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(92,88,92,1);
  -moz-box-shadow: 0px 0px 6px 1px rgba(92,88,92,1);
  box-shadow: 0px 0px 6px 0.2px rgba(0,0,0,0.6);
  background: #FFE3DE;
  background: linear-gradient(to top, #FFE3DE 0%, #FFD6DC 42%);
}

.station-board label {
  display: block;
  margin-bottom: 10px;
}

.station-board input[type="radio"], input[type="checkbox"] {
  margin-right: 5px;
}

.station-board input[type="radio"]:checked, input[type="checkbox"]:checked {
  margin-right: 15px;
}
.station-title{
  color:black;
}

.radio-label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.radio-input {
  display: none;
}

.radio-text {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.radio-text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}

.radio-input:checked + .radio-text:before {
  background-color: #ff0000; /* Change to your desired color */
  border-color: #ff0000; /* Change to your desired color */
}

.radio-text:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  display: none;
}

.checkbox-label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.checkbox-input {
  display: none;
}

.checkbox-text {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.checkbox-text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.checkbox-input:checked + .checkbox-text:before {
  background-color: #e01010; /* Change to your desired color */
}

.checkbox-text:after {
  content: "\2713"; /* Checkmark symbol */
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 14px;
  color: #fff;
  display: none;
}
