.station-container {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  background: #FFFFFF;
background: linear-gradient(to top, #FFFFFF 0%, #EFE4FF 30%);

  height: 100%;
}

.station-board label {
  display: block;
  margin-bottom: 10px;
}

.station-board input[type="radio"], input[type="checkbox"] {
  margin-right: 5px;
}

.station-board input[type="radio"]:checked, input[type="checkbox"]:checked {
    margin-right: 15px;
}
.station-title{
  color:black;
}