.station-container {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px 100px 20px;
  border-radius: 15px;
  background: var(--primary-color);
}

.station-board label {
  display: block;
  margin-bottom: 10px;
}


.station-board input[type="radio"] {
  margin-right: 5px;
  
}

.station-board input[type="radio"]:checked {
    margin-right: 15px;
    border-color: yellow;
}

.station-board label span {
  font-weight: bold;
  color: #333;
}