.container {
    background: var(--primary-color);
    border-radius: 15px;
}

.bottom-div, .chat-board-div {
    padding-left: 25px;
}

.title-div{
    padding-top: 20px;
}

.input-div, .send-button-div{
    padding: 20px;
}

.horizontal-line{
    border-bottom: 2px solid black;
    margin: 20px 20px;
}

.chat-board-div {
    max-height: 170px;
    overflow: auto;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: white; 
  border-radius: 10px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}
