.chat-container {
    background: var(--primary-color);
    border-radius: 15px;
    padding-right: 10px;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 6px 0.2px rgba(0,0,0,0.6);
    background: #FFF1F0;
    background: linear-gradient(to top, #FFF1F0 0%, #FFD6DC 42%);
}

.bottom-div, .chat-board-div {
    padding-left: 25px;
}

.title-div{
    padding-top: 20px;
}

.input-div, .send-button-div{
    padding: 20px;
}

.horizontal-line{
    margin: 20px 20px;
}

.chat-board-div {
  height: 60vh;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: white; 
  border-radius: 10px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}
